/* kill bootstrap responsiveness */



.container1 {
	width: 1400px !important;
}


#header_div{
    background-image: url("../imgs/background.jpg" );
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 1000px 500px;
    border-radius: 10px;
}

#footer_div{
    background-image: url("../imgs/background.jpg" );
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 1200px 100px;
    border-radius: 5px;
}

#body{
   background-color:  #020202 ;
}

#result_body {
   background-color:  #020202 ;
}


#sketchmapplaceholder1,
#sketchmapplaceholder2,
#sketchmapplaceholder3  {
	width:relative;
	height:600px;
	border: none;
	margin-left: 10px;
}


#metricmapplaceholder {
	width:relative;
	height:600px;
	border: none;
	margin-left: 10px;
}

#sketchmapplaceholder_img  {
	width:600px;
	height:500px;
	border: none;
	margin-left: 05px;
	
}

#metricmapplaceholder_img {
	width:600px;
	height:500px;
	border: none;
	margin-left: 05px;
	
}


.jumbotron {
	padding-top:0;
	padding-bottom:5px;
	padding-left: 5px;
	padding-right: 5px;
}

.nav-pills li {
	padding: 2px;
}

#table-intro th {
	background-color:#D9EDF7;
	color: #31708F;
}

#table-intro td {
	border:1px solid #D9EDF7;
	width: 33%;
}

.nav-pills li a.arrowright {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.nav-pills li a.arrowleft {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* add small arrows to navbar items */
.nav-pills li a.arrowright::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  right: -1em;
}
.nav-pills li a.arrowright::after{   z-index: 4;  border-left-color: #428BCA;   }
/*.nav-pills li a.greenarrowright::after{   z-index: 4;  border-left-color: #5CB85C;   } */
.nav-pills li a.greenarrowright::after{   z-index: 4;  border-left-color: #428BCA;   }

.nav-pills li a.arrowleft::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  left: 0em;
}

.nav-pills li a.arrowleft::before{   z-index: 2;  border-left-color: #fff;   }
/* kill bootstrap responsiveness */
.container {
	width: 1000px !important;
}

.nav-pills li {
  float:none;
  display:table-cell;
  width:1%;
  text-align:center;
}

.page-header {
	padding: 0;
	padding-top: 5px;
	margin: 0;
}
.objectRecognitionSkethHolderThumnail{
	position: relative;
	padding: 10px;
	
}

.loadMapThumbnail{
	position: relative;
	padding: 2px
}

.loadMapThumbnail span {
	position: absolute;
	bottom:1x;
	z-index: 100;
	margin-top: 2px;
	margin-left: 3px;
}

.loadMapThumbnail img {
	width:110px;
	height:80px;
	border:1px solid gray;
}

#table-intro table td#LoadedMaps {
	width:15%;
}

#table-intro table td#mapHolders {
	width:70%;
}


#table-intro table td#links {
	width:15%;
}


.nav-pills li ul li {
    display:block;
    width:auto;	
}
/* i changed ths #5CB85C to #428BCA */
.nextstep {
	background-color:#428BCA;
	color:#fff;
}

.hideMe {
	display:none;
}


#SketchQcnPlaceholder textarea,
#MetricQcnPlaceholder textarea {
	font-family:monospace;
	width: 500px;
	height:75px;
	border: 1px solid #999;
	background-color: #efefef;	
	margin-bottom: 20px;
}

#matchingResultPlaceholder textarea {
	font-family:monospace;
	width: 500px;
	height:80px;
	border: 1px solid #999;
	background-color: #efefef;
	margin-bottom: 20px;
}
#matchingResultMapPlaceholder  textarea{
	font-family:monospace;
	width: 500px;
	height:80px;
	border: 1px solid #999;
	background-color: #efefef;
	margin-bottom: 20px;
}
#segSketchHolder  {
	margin-top: 20px;
	position: relative;
	width:140px;
	height:140px;
	border: 1px solid #999;
	margin-bottom: 20px;
}
#class1SketchHolder  {
	margin-top: 20px;
	position: relative;
	width:140px;
	height:140px;
	border: 1px solid #999;;
	margin-bottom: 20px;
}
#class2SketchHolder  {
	margin-top: 20px;
	position: relative;
	width:140px;
	height:140px;
	border: 1px solid #999;
	margin-bottom: 20px;
}
div.scrollbar {
    width: 170px;
    max-height: 650px;
  	overflow-y: scroll;
}


.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

