	<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Sketch Classifier</title>
		<link href="../static/css/main_sketchClassifier.css" rel="stylesheet">
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="http://cdn.graphalchemist.com/alchemy.min.css"/>

	</head>
	<body id= "result_body">
		<div class="container" >
			{%block body%}{%endblock%}
		</div>
		<script	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
		<script src="http://cdn.graphalchemist.com/alchemy.min.js"></script>
		<script src="../static/js/main_sketchClassifier.js"></script>
		
	</body>
</html>